.subtask
  h3.task-title= subtask.name
  +taskDetails(subtask)
  if (subtask.description)
    .task-summary.well.well-sm= subtask.description

  if (subtask.tasks)
    ul.subtasks
      each item in subtask.tasks
        li
          strong= item.name

